.initial-state {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.initial-wrap {
    width: 210px;
    height: 196px;
    display: inline-block;
    cursor: pointer;
}
.initial-wrap:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.img-wrap {
    display: flex;
}

.initial-state__pic {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 64.17px;
    height: 64.17px;
}

.initial-state__desc {
    text-align: center;
    color: #888;
}