.app-header {
    height: 72px;
    background-color: #0064eb;
    display: flex;
    align-items: center;
}

.app-header__git-icon {
    background-image: url(../../assets/icons/github.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    margin-right: 22px;
}


@media screen and (max-width: 768px) {
    .app-header__git-icon {
        margin: 0 2vw;
    }
}
