html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #e5e5e5;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

.wrapper {
    overflow: hidden;
    min-height: 100vh;
    min-width: 320px;
}

.app-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2%;
}

/* pagination */

.container-paginate {
    justify-content: flex-end;
    max-width: 1280px;
    padding: 2%;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
}

.repositories_paginate {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    align-items: center;
}

ul.pagination li {
    cursor: pointer;
    color: #808080;
    margin-right: 16px;
}

ul.pagination li.active {
    color: white;
    background-color: #0064eb;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 14px;
}

ul.pagination li.next,
ul.pagination li.previous {
    font-weight: bold;
    color: #0064eb;
}

ul.pagination li.next {
    margin-right: 0;
}

ul.pagination li.disabled {
    cursor: default;
    color: #808080;
}

/* loader */

@media screen and (max-width: 768px) {
    .container-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .container-paginate {
        display: flex;
        max-width: 1280px;
        padding: 2%;
        justify-content: center;
        margin-bottom: 30px;
    }
}
